<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>All in one</title>
    <link href="../fontAwesome/css/all.css" rel="stylesheet" />
    <link href="../css/common.css" rel="stylesheet" />
    <link href="./css/style.css" rel="stylesheet" />
  </head>
  <body>
    <section class="popup">
      <div class="blackout"></div>
      <div class="popup-message">
        <div class="cross"><i class="far fa-times-circle"></i></div>
        <p class="title">Subscribe to our newsletter</p>
        <p class="para">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget
          vehicula eros. Sed ac ligula egestas, dignissim urna non, malesuada
          mi. Proin nisi est.
        </p>
      </div>
    </section>
    <div class="inside-page">
       <div class="container nav-container">
              <div class="menu-bar mob-nav width-align" >
              <i class="fas fa-bars"></i>
            </div>
             <nav class="width-align hide-in-mobile">
          <a href="home.html" class="nav-link">Home</a>
          <a href="products.html" class="nav-link">Products</a>
          <a href="about.html" class="nav-link">About</a>
        </nav>
        <div class="width-align">
          <img src="images/logo.png" alt="" style="width: 120px; margin:0 auto;" />
        </div>
       

      <a href="cart-items.html" class="cart width-align">
              <span class="counter">10</span>
              <i class="fas fa-shopping-cart"></i>
        </a>
      </div>
      
            <div class="menu-links">
              <div class="close-menu"><i class="fas fa-times"></i></div>
              <a href="home.html" class="nav-link"><i class="fas fa-home fa-fw"></i>Home</a>
                     <a href="products.html" class="nav-link"><i class="fas fa-couch fa-fw"></i>Products</a>
                     <a href="about.html" class="nav-link"><i class="fas fa-building fa-fw"></i>About</a>
            </div>

    <section class="container containerBox">
      <span class="back-arrow" onclick="window.history.back()"
        ><i class="far fa-arrow-alt-circle-left"></i
      ></span>
      <div class="product-detail">
        <div class="product-image">
          <!-- <span id="prev"><i class="fas fa-chevron-left"></i></span>
          <span id="next"><i class="fas fa-chevron-right"></i></span> -->
          <div class="large-img">
    
          </div>
        </div>

        <div class="product-info">
          <h4 class="prod-name">Product name</h4>
          <div class="cost-box">
            <div class="line-space">Price: <span class="cost"></span></div>
            <!-- <small>Get $5 cash back with American Express Bank credit card</small><br> -->
            <div class="line-space">Product Discription:</div>
            <small class="discription line-space"></small>
          </div>

          <button class="add-to-cart-btn">Add To Cart</button>
        </div>
      </div>
    </section>

    <footer>
      <section class="container">
        <div class="content-info">
          <!-- <h4>Choose Furniture According To Placement In USA</h4> -->
          <p>
            Which is the best place to buy furniture in USA? COMFY, of course.
            With the highest number of options and the most convenient shopping
            experience, furniture shopping is a pleasure.
          </p>
          <ul>
            <li>
              Furniture for Living room in New UK: Living room furniture in UK
              is more than just a place to sit - it is the first impression one
              makes on their guests. Find the perfect living room furniture for
              your home on COMFY.
            </li>
            <li>
              Furniture for Bedroom: Find the perfect double bed to curl up into
              on wintry nights on COMFY. Bedroom furniture to suit all budgets
              and taste can easily be browsed. You will not be able to find
              better options for bedroom furniture in New UK.
            </li>
            <li>
              Furniture for Outdoor in UK: Experience the magic of the winter
              sun in UK with the most inviting outdoor furniture from COMFY. The
              only other thing you’ll need is some hot tea and the newspaper.
              Visit Near by COMFY Furniture store in New UK today!
            </li>
          </ul>
        </div>
      </section>

      <section class="container border-top center">
        <p>SIGN UP AND GET A CHANCE TO WIN THE GIVEAWAY OF THE WEEK.</p>
        <div class="input-box-container">
          <div class="left">
            <input
              type="text"
              placeholder="Your Email ID"
              class="subscribe"
            /><br />
            <small class="error">some text</small>
          </div>
          <input type="button" class="subscribe-btn" value="subscribe" />
        </div>
      </section>

      <section class="container border-top">
        <div class="col" style="margin-bottom: 30px">
          <div class="links">
            <h4>The Company</h4>
            <div class="link-col">
              <ul>
                <li><a href="">About Us</a></li>
                <li><a href="">Help</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Inside UL</a></li>
              </ul>
            </div>
          </div>
          <div class="links">
            <h4>More Information</h4>
            <div class="link-col">
              <ul>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Visit Us</a></li>
                <li><a href="">Buy In Bulk</a></li>
              </ul>
            </div>
          </div>
          <div class="links">
            <h4>Explore More</h4>
            <div class="link-col">
              <ul>
                <li><a href="">Refer & Earn</a></li>
                <li><a href="">Exchange</a></li>
                <li><a href="">Gift Cards</a></li>
              </ul>
            </div>
          </div>
          <div class="links">
            <h4>Registered Address</h4>
            <div class="address">
              JOHN "GULLIBLE" DOE <br />
              CENTER FOR FINANCIAL ASSISTANCE<br />
              421 E DRACHMAN<br />
              TUCSON AZ 85705-7598<br />
              USA
            </div>
          </div>
        </div>
        <div class="col">
          <div class="links">
            <h4>Connect With Us:</h4>
            <div class="link-col">
              <a href="" class="soc-icon-border"
                ><i class="soc-icon fab fa-facebook-f"></i
              ></a>
              <a href="" class="soc-icon-border"
                ><i class="soc-icon fab fa-twitter"></i
              ></a>
              <a href="" class="soc-icon-border"
                ><i class="soc-icon fab fa-pinterest"></i
              ></a>
              <a href="" class="soc-icon-border"
                ><i class="soc-icon fab fa-instagram"></i
              ></a>
              <a href="" class="soc-icon-border"
                ><i class="soc-icon fab fa-youtube"></i
              ></a>
            </div>
          </div>
          <div class="links"></div>
          <div class="links">
            <h4>Download App:</h4>
            <div class="link-col">
              <img src="images/ios-app-store.png" alt="" class="app-store" />
              <img
                src="images/android-app-store.png"
                alt=""
                class="google-store"
              />
            </div>
          </div>
          <div class="links"></div>
        </div>
      </section>
    </footer>

    <script type="module" src="js/product-detail/item-detail.js"></script>
    <!-- <script type="module" src="js/products.js"></script> -->
  </body>
</html>
