.hero-banner {
  background-image: url(../images/banner.png);
  background-position: center;
  background-size: cover;
}

.inside-page {
  background-image: url(../images/inside-banner.png);
  background-position: center;
  background-size: cover;
  height: 120px;
}

.loading,
.not-found {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.right-align {
  text-align: right;
}

.column {
  display: flex;
}
.filter-prod {
  width: 166px;
  margin-right: 10px;
}

.filter-prod h4 {
  margin: 24px 0 6px 0 !important;
  font-size: 0.9rem;
}

.filter-prod ul {
  margin-bottom: 20px;
}

.filter-prod ul li {
  font-size: 0.8rem;
  line-height: 1.4rem;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--clr-grey-4);
}
.filter-prod ul li:hover {
  text-decoration: underline;
}

.search-box {
  padding: 8px;
  border: 1px solid #e1e1e1;
  background: var(--white3);
  margin-top: 12px;
}

/* common ============================= */

.show {
  display: block;
}

.container {
  max-width: 980px;
  padding: 40px 16px;
  margin: 0 auto;
}

.border-btn {
  border: 1px solid var(--orange4);
  border-radius: 4px;
  padding: 4px;
  min-width: 120px;
  display: inline-block;
  color: var(--orange1);
  font-size: 0.8rem;
  text-transform: uppercase;
  transition: var(--transition);
}

.border-btn:hover {
  background: var(--orange4);
  color: var(--white1);
}
input:focus {
  outline-width: 0;
}
/* nav=================================== */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-link {
  color: #ffffff;
  font-size: 0.9rem;
  margin: 0 12px;
}
.width-align {
  width: 230px;
  text-align: center;
}
.cart {
  color: var(--white1);
  text-align: right;
  position: relative;
  right: 16px;
  cursor: pointer;
}

.counter {
  width: 24px;
  height: 24px;
  background: var(--red5);
  border-radius: 24px;
  font-size: 0.68rem;
  padding: 4px 0;
  text-align: center;
  position: absolute;
  right: -16px;
  top: -12px;
}

/* banner====================================== */

.banner-text {
  color: var(--white1);
}
.banner-center-box {
  border: 1px var(--white3) dashed;
  padding: 60px;
  width: 640px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.punch {
  letter-spacing: 0.6rem;
  font-family: var(--ff-secondary);
}
.offer {
  color: var(--white1);
  letter-spacing: var(--spacing);
}
.shop-now {
  background: var(--orange4);
  border-radius: 4px;
  padding: 8px 12px;
  color: var(--white1);
  font-size: 0.9rem;
}

.main {
  margin-top: 24px;
}
.main h4 {
  font-family: var(--ff-secondary);
  /* font-size: 1.1rem; */
  text-align: center;
  margin: 0;
  color: var(--clr-grey-2);
}
.products {
  margin: 10px 0 36px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
.img-container {
  margin: 12px 8px;
  /* background: var(--white3);
 box-shadow: var( --light-shadow); */
  position: relative;
}

.animation-box {
  width: 130px;
  height: 80px;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  opacity: 0;
}

.animation .animation-box {
  width: 90%;
  height: 64%;
  background: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  border-radius: 6px;
}

.ut-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ut-icons .icon-click {
  border: none;
  padding: 0 8px;
  line-height: 32px;
  border-radius: 6px;
  color: var(--white1);
  background-color: var(--orange1);
  cursor: pointer;
  border: none;
  height: 36px;
  margin: 8px;
}

.img-container img {
  width: 238px;
  height: 144px;
  object-fit: cover;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  border: 1px solid #f1f0f0;
}

.img-container .info {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  align-items: center;
}
.img-container .info .name {
  font-size: 0.8rem;
  color: var(--clr-grey-5);
  max-width: 170px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img-container .info .cost {
  font-size: 0.8rem;
  color: var(--clr-grey-3);
  /* font-family: var(--ff-primary); */
  /* font-weight: 600; */
}
.back-arrow {
  font-size: 2rem;
  margin: -20px 0 20px;
  display: inline-block;
  color: var(--dark2);
  cursor: pointer;
}

.content-info p {
  color: var(--clr-grey-5);
}
.content-info {
  text-align: justify;
  color: var(--clr-grey-5);
  font-size: 0.75rem;

  max-width: 1024px;
  margin: 0 auto;
}

.content-info ul li {
  list-style-type: circle;
  margin-left: 16px;
}

footer {
  padding: 20px 0 0;
  background: var(--app-light-grey);
}

footer .col {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer .links h4 {
  font-family: var(--ff-secondary);
  font-size: 0.8rem;
}
footer .links li {
  font-size: 0.75rem;
  color: var(--dark2);
}
.link-col {
  display: flex;
  justify-content: space-between;
}

.link-col ul {
  margin-left: -12px;
}

footer .links {
  width: 240px;
}
.link-col a {
  color: var(--clr-grey-5);
  line-height: 2.2;
  margin: 0px 12px;
}

.link-col a:hover {
  text-decoration: underline;
}

.soc-icon-border {
  padding: 0 12px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  margin: 0 !important;
}

.soc-icon {
  color: var(--dark1);
}
.soc-icon:hover {
  color: var(--orange2);
}

.address {
  font-size: 0.75rem;
  color: var(--clr-grey-5);
}

.app-store,
.google-store {
  max-width: 142px;
  margin-right: 16px;
  cursor: pointer;
}

.border-top {
  border-top: 1px solid #e1e1e1;
  padding: 40px 0;
}
.input-box-container {
  display: flex;
  justify-content: center;
}
.subscribe {
  width: 280px;
  /* float: right; */
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
  border: 1px solid var(--dark5);
  padding: 8px;
  -webkit-appearance: none;
}
.subscribe-btn {
  height: 40px;
  background-color: #ed7745;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: 3px !important;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
}
.error {
  font-size: 0.7rem;
  color: var(--red2);
  opacity: 0;
}
.show {
  opacity: 1;
}

#allProduct {
  display: flex;
  flex-wrap: wrap;
}

/* blackout========================== */

.popup {
  position: absolute;
  display: none;
  height: 100vh;
  width: 100%;
}

.blackout {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.7);
}

.popup-message {
  width: 520px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--white1);
  z-index: 3;
  border-radius: var(--radius);
  text-align: center;
  padding: 40px 20px 20px;
}

.popup-message .cross {
  position: absolute;
  right: 6px;
  top: 3px;
  font-size: 1.4rem;
  cursor: pointer;
}
.popup-message .title {
  font-size: 1.4rem;
  color: var(--orange1);
}
.display {
  display: block;
}

/* nav============================ */
.mob-nav {
  display: flex;
  display: none;
}
.menu-links {
  position: fixed;
  z-index: 4;
  width: 100%;
  top: 0;
  display: none;
  flex-direction: column;
  background: var(--white1);
  box-shadow: var(--light-shadow);
}

.display-menu {
  display: flex;
}
.menu-links a {
  line-height: 4;
  border-bottom: 1px solid var(--dark6);
  color: var(--clr-grey-3);
  font-weight: 600;
}

.close-menu {
  text-align: right;
  padding: 8px 16px;
  font-size: 1.4rem;
  position: relative;
  top: 20px;
  color: var(--clr-grey-3);
}

.heading {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  margin-bottom: 20px;
  /* text-align: center; */
  color: var(--orange1);
  /* border-bottom: 1px solid var(--orange1);
     max-width: 80px; */
}

.para {
  /* text-align: justify; */
  font-size: 0.9rem;
}

/* product detail========================== */

.product-detail {
  display: flex;
}
.product-image {
  flex: 2;
}
.product-info {
  flex: 1;
}

.large-img {
  margin: 0 16px 20px 0;
  width: 616px;
  /* height: 336px; */
  position: relative;
  border: 1px solid #e1e1e1;
  overflow: hidden;
}

.large-img ul li {
  display: inline-block;
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  transition: var(--transition);
  left: 0;
  width: 616px;
  height: 336px;
  opacity: 0;
}

.large-img ul li.active {
  transform: translateX(0%);

  opacity: 1;
}
.large-img ul li.prev {
  transform: translateX(-100%);
}

.large-img ul li.next {
  transform: translateX(100%);
}

#prev,
#next {
  position: absolute;
  top: 49%;
  z-index: 2;
  font-size: 2rem;
  cursor: pointer;
  width: 48px;
  text-align: center;
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.4);
}
#prev {
  left: 20px;
}
#next {
  right: 20px;
}

.small-img ul li {
  display: inline-block;
  margin-right: 12px;
  border: 2px solid var(--white3);
  transition: var(--transition);
  cursor: pointer;
  opacity: 0.6;
}
.small-img ul li:hover {
  border: 2px solid var(--orange1);
  opacity: 1;
}
.small-img ul li.active {
  border: 2px solid var(--orange1);
  opacity: 1;
}

/* button ==================== */

.add-to-cart-btn {
  padding: 10px;
  border-radius: 6px;
  background: var(--orange1);
  border: none;
  color: var(--white1);
  width: 100%;
  font-size: 1.1rem;
  cursor: pointer;
}

/* cart ========================== */
.cost-box {
  margin-bottom: 20px;
}

.cost-box .cost {
  font-size: 1.4rem;
}

.price-cut {
  color: var(--red2);
  font-size: 1.2rem;
}

.prod-name {
  font-size: 1.3rem;
  font-family: var(--ff-secondary);
}

.line-space {
  margin-top: 16px;
}

.discription {
  color: var(--clr-grey-5);
}

/* cart page============== */

.cart-container {
  /* display: flex; */
  min-height: 242px;
}

.cart-items {
  flex: 2;
}
.cart-calculation {
  flex: 1;
}
.selected-items-list {
  display: flex;
  border-bottom: 1px solid var(--clr-grey-9);
  padding-bottom: 16px;
  margin-top: 16px;
}

.selected-items-list .thum-image {
  max-width: 160px;
}
.selected-items-list .thum-image img {
  border-radius: 6px;
  max-height: 100px;
}

.selected-items-list .info {
  flex: 2;
  margin: 0 8px 8px 28px;
}

.selected-items-list .info .remove {
  border: 1px solid var(--orange2);
  padding: 2px 4px;
  border-radius: 4px;
  background: none;
  font-size: 0.8rem;
  color: var(--orange4);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 12px;
}
.selected-items-list .info .remove:hover {
  background: var(--orange4);
  color: var(--white1);
}

.selected-items-list .info header {
  font-size: 1rem;
  text-transform: capitalize;
}

.selected-items-list .qty button {
  border: none;
  color: var(--orange4);
  background: none;
}

.selected-items-list p {
  margin-bottom: 0;
}

.cart-calculation {
  /* max-width: 320px; */
}
.item-bill {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--clr-grey-5);
}

.final-amount {
  /* position: absolute;
  top: 140px;
  left: 0; */
  width: 100%;
}
.total-amount {
  /* background: var(--clr-grey-10); */
  /* border-top: 1px solid var(--clr-grey-9); */
  border-bottom: 1px solid var(--clr-grey-9);
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;
  margin-bottom: 12px;
}

.checkout {
  border: 1px solid var(--orange1);
  background: var(--orange4);
  color: var(--white1);
  width: 320px;
  padding: 12px;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow: var(--dark-shadow);
  cursor: pointer;
  transition: var(--transition);
}

.checkout:hover {
  background: var(--white1);
  color: var(--orange4);
}

/* media========================== */

@media (max-width: 992px) {
  .column {
    display: block;
  }
  .banner-center-box {
    width: 320px;
  }

  footer .links {
    width: 100%;
    text-align: center;
  }
  .link-col {
    margin-bottom: 28px;
    justify-content: center;
  }
  .subscribe {
    width: 100%;
  }
  .popup-message {
    width: 96%;
  }
  .hide-in-mobile {
    display: none;
  }
  .mob-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    color: var(--white1);
  }
  .container {
    padding: 20px 16px;
  }
  .img-container img {
    width: 100%;
  }
  .inside-page {
    height: 96px;
  }
  .app-store,
  .google-store {
    margin: 6px;
  }
  .soc-icon-border {
    margin: 0 12px !important;
  }
  .checkout {
    width: 100%;
  }
}

/* overwrite======================== */
.fa-fw {
  margin-right: 12px;
}
