/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
=============== 
Variables
===============
*/

:root {
 
  /* material shade*/
  --blue1: #115293;
  --blue2: #1976d2;
  --blue3: #1976d2;
  --blue4: #2196f3;
  --blue5: #4791db;
  --blue6: #64b5f6;

  --red1: #9a0036;
  --red2: #dc004e;
  --red3: #d32f2f;
  --red4: #e33371;
  --red5: #f44336;
  --red6: #e57373;

  --pink:#ea4c89;

  --orange1: #f57c00;
  --orange2: #ff9800;
  --orange3: #ffb74d;
  --orange4: #ed7745;

  --green1: #388e3c;
  --green2: #4caf50;
  --green3: #81c784;

  --dark1: rgba(0, 0, 0, 0.87);
  --dark2: rgba(0, 0, 0, 0.54);
  --dark3: rgba(0, 0, 0, 0.38);
  --dark4: rgba(0, 0, 0, 0.26);
  --dark5: rgba(0, 0, 0, 0.12);
  --dark6: rgba(0, 0, 0, 0.08);
  --dark7: rgba(0, 0, 0, 0.04);

  --white1: #fff;
  --white2: #fafafa;
  --white3: #f5f5f5;
  --white4:#f7f7f7;

  --purple6: #f9f8fd;

  --app-light-grey: #f5f5f7;

  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;

--grey1:#6e6d7a;



--ff-bold:600;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --transition-ease: all .3s ease-in-out; 
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --dim-shadow: inset 0px -1px 0px #f3f3f4;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.nav-logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 1px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1rem;
  color: var(--orange1);
}


.relative {
  position: relative;
}
.center{
  text-align: center;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

